name: Lint Dockerfiles

on:
  push:
    paths:
      - '**/Dockerfile'
      - '**/Dockerfile.edge'
      - '.github/workflows/hadolint.yml'

jobs:
  lint:
    name: Lint Dockerfiles
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Install hadolint
        run: |
          curl -L -o ./hadolint "https://github.com/hadolint/hadolint/releases/download/v1.17.4/hadolint-$(uname -s)-$(uname -m)"
          chmod 700 ./hadolint
          ./hadolint -v
      - name: Run hadolint
        run: |
          git ls-files --exclude='Dockerfile*' --ignored --cached | grep -v Dockerfile.template | xargs --max-lines=1 ./hadolint
